.page {
  background-color: rgba(27, 31, 34, 0.85);
  position: fixed;
  z-index: 1;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    @apply opacity-0;
  }
  to {
    @apply opacity-100;
  }
}
