@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

a.external {
  color: #5f9ea0;
}

.bg {
  @apply absolute;
  @apply left-0;
  @apply top-0;
  background: url("./images/bg.webp") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.fadein-4s {
  animation: fadein 4s;
}

.blurin-2s {
  animation: blurin 2s;
  animation-fill-mode: forwards;
}

.blurout-2s {
  animation: blurout 2s;
  animation-fill-mode: forwards;
}

.fadein-2s {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    @apply opacity-0;
  }
  to {
    @apply opacity-100;
  }
}

@keyframes expand {
  from {
    @apply p-0;
    @apply max-h-0;
  }
  to {
    @apply p-4;
    @apply max-h-56;
  }
}

@keyframes blurin {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(6px);
  }
}

@keyframes blurout {
  from {
    filter: blur(6px);
  }
  to {
    filter: blur(0px);
  }
}
